---
import InteriorLayout from "@/layouts/InteriorLayout.astro";
import Prose from "@/components/Atoms/Prose.astro";
import type {
  InferGetStaticParamsType,
  InferGetStaticPropsType,
  GetStaticPaths,
} from "astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const posts = await getCollection("projects");
  return posts.map((post) => {
    return {
      params: { slug: post.data.slug },
      props: { post },
    };
  });
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { slug } = Astro.params as Params;
//                   ^? { id: string; }

const { post } = Astro.props;
//                      ^? { draft: boolean; title: string; }
const { Content } = await render(post);
---

<InteriorLayout title={'Portfolio | ' + post.data.title}>
  <h1>
    {post.data.title}
  </h1>
  <Prose>
    <Content />
  </Prose>

</InteriorLayout>
